.layer1 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    font-family: sans-serif;
  }
  .layer1 h1{
    margin: 10px;
    text-align: left;
    font-size: 40px;
  }

  