* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .sidebar {
    position: fixed;
    top:50px;
    left: 0;
    width: 15%;
    height: 100vh;
    background: whitesmoke;
    font-size: 1.4em;
    transition: transform 0.3s ease-out;
  }
  
  .nav {
    position: relative;
    margin: 0 15%;
    text-align: right;
    top:40%;
    transform: translateY(-50%);
    font-weight: bold;

  }
  
  .nav ul {
    list-style: none;
  }
  
  .nav ul li {
    margin: 2em 0;
  }
  
  .nav ul li a {
    line-height: 2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.4em;
    color: black;
    background-color: whitesmoke;
    display: block;
    transition: all ease-out 200ms;
    position: relative;
  }
  
  .nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    
    left: 20%;
    bottom: 0;
    background-color: black;
    transition: width 0.3s ease-in-out;
  }
  
  .nav ul li a.active::after {
    width: 80%;
    height: 3px;
  }
  
  .nav ul li a:hover {
    transform: scale(1.2) translateY(-0.2em);
  }
  
  .nav ul li a:hover::after {
    width: 75%;
    height: 3px;
  }
  